# Configuration file for TAK Server
#

# CA Configuration
# Configuration for TAK-server built-in CA
#
TAKSERVER_CACert_Country=NZ
TAKSERVER_CACert_State=Wellington
TAKSERVER_CACert_City=Wellington
TAKSERVER_CACert_Org=TAK.NZ
TAKSERVER_CACert_OrgUnit=TAK.NZ Operations

# Input Configuration
#
# Authenticat users on the data port via x509 cert of ldap
# Valid: x509, ldap
TAKSERVER_CoreConfig_Network_Input_8089_Auth=x509

# LDAP Auth Configuration
#
# New users' first groups marked as "active" by default
# Valid: true, false
TAKSERVER_CoreConfig_Auth_X509useGroupCacheDefaultActive=true
# Checks the revocation status of X.509 client certificates during authentication.
# Valid: true, false
TAKSERVER_CoreConfig_Auth_X509checkRevocation=true
# Base DN will be appended automatically
#
# Group name prefix filter and extraction regex
# Only consider LDAP groups prefixed with "tak_"
# but remove prefix from actual group name in TAK
TAKSERVER_CoreConfig_Auth_LDAP_Groupprefix=cn=tak_
TAKSERVER_CoreConfig_Auth_LDAP_GroupNameExtractorRegex=cn=tak_(.*?)(?:,|$)
# Adapt GroupObjectClass to Authentik
# Base DN will be appended automatically
TAKSERVER_CoreConfig_Auth_LDAP_GroupObjectClass=groupOfNames

# Federation Configuration
# Enabled/disabled via cdk.json
# Valid: true, false
TAKSERVER_CoreConfig_Federation_AllowFederatedDelete=false
# Valid: true, false
TAKSERVER_CoreConfig_Federation_AllowMissionFederation=true
# Valid: true, false
TAKSERVER_CoreConfig_Federation_AllowDataFeedFederation=true
# Valid: true, false
TAKSERVER_CoreConfig_Federation_EnableMissionFederationDisruptionTolerance=true
TAKSERVER_CoreConfig_Federation_MissionFederationDisruptionToleranceRecencySeconds=43200
# Valid: true, false
TAKSERVER_CoreConfig_Federation_EnableDataPackageAndMissionFileFilter=false
TAKSERVER_CoreConfig_Federation_WebBaseUrl=https://ops.tak.nz:8443/Marti

# OAuth/OIDC Server Support
# Remove "tak_" prefix from group names in Authentik via 
# property mapping
TAKSERVER_CoreConfig_OAuth_OauthUseGroupCache=true
TAKSERVER_CoreConfig_OAuth_LoginWithEmail=true
TAKSERVER_CoreConfig_OAuth_UseTakServerLoginPage=true
TAKSERVER_CoreConfig_OAuth_UsernameClaim=preferred_username
TAKSERVER_CoreConfig_OAuthServer_Name=TAK.NZ Account
TAKSERVER_CoreConfig_OAuthServer_Scope=openid profile
TAKSERVER_CoreConfig_OAuthServer_Issuer=/opt/tak/certs/files/oauth-public-key.pem
TAKSERVER_CoreConfig_OAuthServer_JWKS=https://account.tak.nz/application/o/tak-server/jwks/
TAKSERVER_CoreConfig_OAuthServer_ClientId=abcdefg12345
TAKSERVER_CoreConfig_OAuthServer_Secret=mysupersecretsecret
TAKSERVER_CoreConfig_OAuthServer_RedirectUri=https://ops.tak.nz:8446/login/redirect
TAKSERVER_CoreConfig_OAuthServer_AuthEndpoint=https://account.tak.nz/application/o/authorize/
TAKSERVER_CoreConfig_OAuthServer_TokenEndpoint=https://account.tak.nz/application/o/token/